.ProseMirror {
    min-height: 200px;
}

.ProseMirror:focus {
    outline: none;
    box-shadow: 0 0 0 2px #222222;
}

.ProseMirror h2:first-child {
    font-size: 3rem;
    margin: 0;
    line-height: 1;
}

.ProseMirror blockquote {
    margin: 0;
    border-radius: 2px;

    /*padding: 5px 40px 5px 40px;*/
    /*background-color: #222222;*/

    padding: 0 40px 0 40px;
    border-left: 6px solid #222222;
}

.ProseMirror mark {
    color: white;
    background-color: #333333;
}

a {
    color: #ff6a48;
    cursor: pointer;
}


.hidden {
    visibility: hidden;
}

/*.highlight {*/
/*    background-color: yellow !important; !* Highlight color *!*/
/*}*/
